@import url('https://fonts.googleapis.com/css?family=Acme');


body {
  font-family: 'Acme', sans-serif;
}

.App-header {
  background-color: #ffffff;
  padding: 10px;
  color: white;
  text-align: center;
  position: fixed;
  width: 100%;
  top: 0;
}

main {
  padding: 20px;
}

section {
  margin: 20px 0;
}

h2 {
  font-size: 2em;
  margin-bottom: 10px;
}




@media (min-width: 992px) {
  .wrapper {
    padding: 60px 20px;
  }

  .text-and-banner {
    flex: 1;
  }

  .banner-container {
    max-width: 400px;
    height: 350px;
  }

  .intro-text {
    font-size: 1.4rem;
  }

  .button-container {
    gap: 20px;
  }

  button {
    padding: 12px 25px;
    font-size: 1.1rem;
  }
} 


